.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4; /* Light grey background */
}

header {
  background-color: #d3d3d3; /* Light grey header background */
  color: #333; /* Dark grey text */
  padding: 20px;
  text-align: center;
}

h1, h2 {
  margin: 0;
}

main {
  padding: 20px;
}

footer {
  background-color: #d3d3d3; /* Light grey footer background */
  padding: 10px;
  text-align: center;
  position: relative;
  bottom: 0;
  width: 100%;
  color: #333; /* Dark grey text */
}

.App-header {
  background-color: #d3d3d3; /* Light grey for the App header */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #333; /* Dark grey text */
}

.App-link {
  color: #fafafb; /* You can change this to a grey color if you prefer */
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}